<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <div>
            <h2 style="text-align: center;">VIEW DETAIL</h2>
        <span >First Name : </span>{{cm.firstname}} <br>
        <span>Last Name : </span>{{cm.lastname}} <br>
        <span>Email : </span>{{cm.email}} <br>
        <span>Phone : </span>{{cm.phone}} <br>
        <span>Gender : </span>{{cm.gender}} <br>
    
        
        </div>
    </body>
</body>
</html>